<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>planner</title>
</head>
<body>

	<div layout:fragment="content">
		<h1>Planners</h1>
		<hr />
		<a th:href="@{/planner/new}" class="btn btn-success">Novo Planner</a><br/><br/>
					
			<table class="table">
			<tbody>
				<tr th:each="planner : ${listPlanner}">
					<td th:text="${planner.nome}"></td>   
						<td>
							<a th:href="@{/planner/{id}(id = ${planner.id})}" class="btn btn-primary" >Abrir</a> 
					 		<a th:href="${'planner/'+ planner.id +'/delete'}" class="btn btn-danger">Apagar</a>
						</td>
				</tr>
			</tbody>
		</table>
</div>
	  
	  
</body>
</html>